div.results-container {
	display: grid;
	max-width: 958.952px;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px;
}

div.results-container div.image-cell {
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: #efefef;
	position: relative;
	aspect-ratio: 1/1;
}

div.results-container div.image-cell img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

div.results-container div.image-cell div.image-overlay {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: transparent;
	color: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	font-weight: bold;
	font-size: 16px;
}

div.results-container div.image-cell div.image-overlay:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

div.results-container div.image-cell div.image-overlay svg {
	width: 19px;
	height: 19px;
}
