:root {
	--modal-top-margin: 100px;
	--modal-height: calc(100vh - var(var(--modal-top-margin)));
}

dialog.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 0;
	border-radius: 4px;
	border: 0px;
	outline: none;
}

dialog.modal-container::backdrop {
	background-color: rgba(0, 0, 0, 0.65);
}

dialog.modal-container div.modal-content {
	display: flex;
	align-items: center;
}

dialog.modal-container div.modal-content div.modal-img-container {
	display: flex;
	background: black;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.landscape {
	max-height: calc(100vh - 47px);
	width: calc(100vw - 199px);
}

.portrait {
	height: calc(100vh - 47px);
	max-width: calc(100vw - 199px);
}

dialog.modal-container div.modal-content div.modal-desc-container {
	padding: 14px 16px;
}

dialog.modal-container div.modal-content div.modal-desc-container svg.like-btn,
dialog.modal-container
	div.modal-content
	div.modal-desc-container
	svg.unlike-btn {
	cursor: pointer;
}

dialog.modal-container svg.modal-close-btn {
	position: fixed;
	top: 16px;
	right: 16px;
	cursor: pointer;
	list-style: none;
	text-align: inherit;
	color: white;
	width: 24px;
	height: 24px;
}
