ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 8px 12px 20px 12px;
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 100vh;
    border-right: 1px solid rgb(219, 219, 219);
}
ul.navbar li div.logo-container {
    padding: 25px 12px 16px;
    margin-bottom: 19px;
}
ul.navbar li div.logo-container a img.gifygram-logo {
    width: 103px;
    height: 29px;
}

ul.navbar li a {
    color: black;
    text-decoration: none;
}
